.footer {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: white;
}